.gameBoard {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;

  @media (min-width: 568px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  @media (min-width: 768px) {
    grid-gap: 15px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
